.custom_image_gallery {
    position: relative;
}
.arrows {
    display: none;
}
@media (min-width: 50em) {
    .arrows {
        display: block !important;
    }
}



.custom_image_gallery .thumbnails_arrow_top {
    position: absolute;
    top: 0;
    right: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 5px 37px #00000017;
    padding: 5px;
    cursor: pointer;
}

.custom_image_gallery .thumbnails_arrow_bottom {
    position: absolute;
    bottom: -90px;
    right: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 5px 37px #00000017;
    padding: 5px;
    cursor: pointer;
}

.custom_image_gallery .thumbnails-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}